footer {
    display: flex;
    justify-content: space-between;
    border-top: solid 2px #9D9292;
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 20px;
    padding-top: 20px;

    h4 {
        font-family: 'Times New Roman', Times, serif;
        color: white;
        font-size: 30px;
        margin-bottom: 10px;

    }

    nav {
        img {
            width: 50px;
            height: 50px;
        }
    }

    ul {
        list-style-type: none;
    }

    li{
        margin-bottom: 10px;
        :hover {
            color: var(--active-color);
        }
    }

    a {
        display: block;
        text-decoration: none;
        font-family: 'Times New Roman', Times, serif;
        color: #9D9292;
    }

    p {
        color: #9D9292;
    }

    i {
        width: 50px;
        height: 50px;
        :hover {
            color: var(--active-color);
        }
    }


}

@media (max-width: 700px) {
    footer {
        display: flex;
        flex-direction: column;
        justify-content: center;
    div {
            margin-bottom: 60px;
        }
    }
}


.apps {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
    :hover {
        color: var(--active-color);
    }
    button {
        margin-bottom: 15px;
        border-radius: 20px;
        padding: 15px;
        font-family: 'Times New Roman', Times, serif;
        color: var(--active-color);
        background-color: #080707;
        font-size: 18px;
        :hover {
            color: var(--active-color);
        }
    }
}

.icons {
    display: flex;
    flex-wrap: wrap;
    :hover {
        color: var(--active-color);
    }
}