/*header {
	background-color: var(--header-color);
	padding-top: 20px;
	padding-bottom: 20px;

	input[type="submit"] {
		@include button;
		background-color: red;
	}
}*/

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: solid 2px #9D9292;
    margin-left: 30px;
    margin-right: 30px;

    ul {
        list-style-type: none;
        display: flex;
        flex-wrap: wrap;
       }

    li {
        margin-right: 20px;

        :hover {
            color: var(--active-color);
        }
    }

    a {
        font-family: var(--default-font);
        color: #9D9292;
        font-size: 35px;
        text-decoration: none;
    }

    form {
        padding: 20px;
        background-color: #080707;
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid #999999;
        outline: none;
    }

    button[type="submit"] {
        
        overflow: hidden;
        width: 40px;
        padding: 0;
        margin: 0;
        border: 1px solid transparent;
        background: transparent url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' class='bi bi-search' viewBox='0 0 16 16'%3E%3Cpath d='M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z'%3E%3C/path%3E%3C/svg%3E") no-repeat center;
        cursor: pointer;
        opacity: 0.7;
    }
    

    input {
        padding: 10px;
        background-color: var(--background-color);
        font-family: inherit;
        border-radius: 20px;
        font-size: 20px;
        outline: none;
		border-radius: 20px;
        margin-right: 10px;

        &:focus {
            background-color: aliceblue;
        }
    }

	/*button {
		@include button;
		font-size: var(--default-font);
		text-transform: uppercase;
	}*/

    img {
        :hover {
            color: #9D9292;
        }
    }
}

@media (max-width: 1500px) { 
    .wrapper {
    padding-left: 2%;
    padding-right: 2%;
    }
    ul {
        display: flex;
        flex-direction: column;
    }
    li {
        margin-bottom: 5px;
    }

}

@media (max-width: 1100px) {
    header {
        display: flex;
        flex-direction: column;
        align-items: baseline;
        a {
            font-size: 20px;
        }
        form {
            padding: 10px;
            border-bottom: none;
        }
        input {
            padding: 5px;
            border-radius: 20px;
            font-size: 10px;
            outline: none;
            margin-right: 10px;
        }
        #logo {
            width: 40%;
        }
        img {
            width: 40%;
            margin-bottom: 20px;
            margin-top: 20px;
        }

    }

}

.search {
    padding: 10px;
    font-family: inherit;
    border-radius: 20px;
    font-size: 20px;
}

.pulse { 
    background: none;
    border: 2px solid;
    font: inherit;
    line-height: 1;
    margin: 0.5em;
    padding: 1em 2em;
    color: #ef6eae;
    text-transform: uppercase;
    transition: 0.25s;
  
  &:hover,
  &:focus { 
    border-color: #ef6eae;
    color: #fff;
    animation: pulse 1s;
    box-shadow: 0 0 0 2em transparent;
  }
}

@keyframes pulse {
  0% { box-shadow: 0 0 0 0 #ef6eae; }
}

